files/*

!files/plugins
!files/server.properties
!files/config

files/plugins/**/*.jar
files/plugins/**/*.db*
files/plugins/**/*.plugins
files/plugins/**/*.css*
files/plugins/**/*.png
files/plugins/**/*.gz
files/plugins/**/*.rms
files/plugins/**/*.1
files/plugins/**/*.unpack_finished
files/plugins/**/*.archive-unpack
files/plugins/**/*.sqlite
files/plugins/**/Pl3xMap/web
files/plugins/**/WorldEdit/sessions